.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}
.item {
  align-self: center;
}
.legend {
  font-weight: bold;
  font-size: large;
}
.titleInput {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 2px;
}
.button {
  border: 1px solid green;
  font-weight: bold;
  color: green;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}
