.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 3px;
  padding: 10px 20px;
  color: red;
  font-size: large;
  font-weight: bold;
  align-self: center;
}
