.hr {
  height: 2px;
  background-color: black;
  border: none;
  border-radius: 2px;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.comment {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 0 5px 2px black;
  padding: 5px;

  background-color: rgba(255, 255, 255, 0.6);
}

.author {
  align-self: flex-end;
  font-style: italic;
}
.text {
  align-self: stretch;
  padding: 0 10px;
}
.date {
  align-self: flex-end;
  font-style: italic;
}
.span {
  font-style: normal;
  font-weight: bold;
}
.buttonDelete {
  border: 1px solid red;
  font-weight: bold;
  color: red;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  align-self: end;
}
